<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="../static/js/leaflet-heat.js"></script>
    <style>
        #map { height: 600px; margin-top: 20px;}
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">Real Estate API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container larger-text">
        <h1 class="mt-5 text-center font-weight-bold">Real Estate Map</h1>
        <!-- Filter inputs for city, price range, home type, and year -->
        <div class="filter-container">
            <label for="city-filter">City:</label>
            <input type="text" id="city-filter" placeholder="Enter city name" class="form-control">
            <label for="min-price-filter">Min Price:</label>
            <input type="number" id="min-price-filter" placeholder="Enter minimum price" class="form-control">
            <label for="max-price-filter">Max Price:</label>
            <input type="number" id="max-price-filter" placeholder="Enter maximum price" class="form-control">
            <label for="home-type-filter">Home Type:</label>
            <select id="home-type-filter" class="form-control">
                <option value="">Select home type</option>
                <option value="APARTMENT">APARTMENT</option>
                <option value="CONDO">CONDO</option>
                <option value="LOT">LOT</option>
                <option value="MULTI_FAMILY">MULTI_FAMILY</option>
                <option value="SINGLE_FAMILY">SINGLE_FAMILY</option>
                <option value="TOWNHOUSE">TOWNHOUSE</option>
            </select>
            <label for="min-year-filter">Min Year:</label>
            <input type="number" id="min-year-filter" placeholder="Enter minimum year" class="form-control">
            <label for="max-year-filter">Max Year:</label>
            <input type="number" id="max-year-filter" placeholder="Enter maximum year" class="form-control">
            <button onclick="applyFilters()" class="btn btn-primary mt-2">Apply Filters</button>
        </div>

        <!-- Map -->
        <div id="map"></div>
    </div>
    <script src="/static/js/map.js"></script>
</body>
</html>
