<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Map Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="../static/js/leaflet-heat.js"></script>
    <style>
        #map { height: 800px; }
        .larger-text { font-size: 1.2rem; }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">Real Estate API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plotly_dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map_dashboard">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container larger-text">
        <h1 class="mt-5 text-center font-weight-bold">Real Estate Map Dashboard</h1>
        <!-- Filter inputs for city, price range, home type, and year -->
        <div class="filter-container">
            <label for="city-filter">City:</label>
            <input type="text" id="city-filter" placeholder="Enter city name" class="form-control">
            <label for="min-price-filter">Min Price:</label>
            <input type="number" id="min-price-filter" placeholder="Enter minimum price" class="form-control">
            <label for="max-price-filter">Max Price:</label>
            <input type="number" id="max-price-filter" placeholder="Enter maximum price" class="form-control">
            <label for="home-type-filter">Home Type:</label>
            <input type="text" id="home-type-filter" placeholder="Enter home type" class="form-control">
            <label for="year-filter">Year:</label>
            <input type="number" id="year-filter" placeholder="Enter year" class="form-control">
            <button onclick="applyFilters()" class="btn btn-primary mt-2">Apply Filters</button>
        </div>
    
        <!-- Home types -->
        <div class="home-types">
            <h5>Home Types:</h5>
            <ul>
                <li>APARTMENT</li>
                <li>CONDO</li>
                <li>LOT</li>
                <li>MULTI_FAMILY</li>
                <li>SINGLE_FAMILY</li>
                <li>TOWNHOUSE</li>
            </ul>
        </div>

        <!-- Map -->
        <div id="map"></div>
    </div>
    <script src="/static/js/map.js"></script>
</body>
</html>
